@use "mixins" as *;

.formComponent {
    --componentRounding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    color: var(--fore);
    font-family: var(--content);
    font-size: 1.5rem;
    border: 2px solid var(--foreSecondary);
    border-radius: var(--componentRounding);
    padding: 0.5em 1em;
    box-sizing: border-box;
    cursor: pointer;

    &.notLabel {
        cursor: auto;
    }

    &.qc {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include breakpoint(tiny, mobile) {
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &:has(input[type="radio"]:checked) {
        border-color: var(--prim);
    }

    input[type="radio"],
    input[type="file"] {
        appearance: none;
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
        margin: -1px;
        overflow: hidden;
        z-index: -1;

        &:checked~.customRadio {
            border-color: var(--prim);

            &:after {
                display: block;
            }
        }

        &:focus~.customRadio {
            outline: 2px solid var(--accent);
            outline-offset: 2px;
        }
    }

    .customRadio {
        --radioSize: 1em;
        --dotSize: calc(var(--radioSize) / 2);
        top: 0;
        left: 0;
        height: var(--radioSize);
        width: var(--radioSize);
        border-radius: 50%;
        border: 2px solid var(--foreSecondary);

        &:after {
            position: relative;
            content: "";
            display: none;
            width: var(--dotSize);
            height: var(--dotSize);
            top: 0.15em;
            left: 0.15em;
            border-radius: 50%;
            background: var(--prim);
        }
    }

    &.flipflop {
        display: flex;
        font-family: var(--content);
        font-size: 1.5rem;
        color: var(--fore);
        border: 3px solid var(--foreSecondary);
        width: 100%;
        padding-top: 1em;
        box-sizing: content-box;
        height: 100%;

        &:nth-of-type(1) {
            border-radius: var(--componentRounding) 0 0 var(--componentRounding);
        }

        &:nth-of-type(2) {
            border-radius: 0 var(--componentRounding) var(--componentRounding) 0;
        }

        &:has(input[type="radio"]:checked) {
            z-index: 2;
            border-width: 3px;
        }

        & .flipflopHeader {
            display: flex;
            align-items: center;

            .optionValue {
                margin-left: 0.5em;
            }
        }

        .optionDesc {
            padding-top: 0.5em;
        }
    }
}

.categoryLabel {
    font-family: var(--content);
    font-size: 2rem;
    font-weight: 900;
    color: var(--fore);
    margin-bottom: 0.5em;
}

.subCategoryBox {
    display: flex;
    flex-direction: column;
    color: var(--fore);
    font-family: var(--content);
    font-size: 1.5rem;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.subCategory {
    font-family: var(--content);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--fore);
}

.subCategoryDesc {
    font-family: var(--content);
    font-size: 1rem;
    color: var(--foreSecondary);
}

.ocHeader {
    border-bottom: 1px solid var(--foreSecondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
}

.ocCell1 {
    display: flex;
    align-items: center;
    gap: 0.2em;
    font-family: var(--content);
    font-size: 1.3rem;
}

.optionDesc {
    padding: 1em 0;
    font-size: 1rem;
    line-height: 1.5rem;
}

.optionTitle {
    font-weight: 700;
}

.optionValue {
    font-family: var(--content);
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--fore);
    vertical-align: middle;
}

.flipflopBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    padding: 0.5em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

.textAreaTitle {
    font-family: var(--content);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--fore);
}

.textAreaDesc {
    font-family: var(--content);
    font-size: 1rem;
    color: var(--foreSecondary);
    margin-bottom: 0.5em;
    line-height: 1.5em;

    &.infoCard {
        margin-top: 0.5em;
        color: var(--fore);
    }
}

.quantityCounterInfoCell {
    .textAreaTitle {
        display: flex;
        align-items: center;
        gap: .2em;
    }
    .textAreaDesc {
        margin: 0;
        //max-width: 220px;
    }
}

.formTextInput {
    height: 150px;
    resize: vertical;
    border-radius: 10px;
    padding: 0.5em 1em;
    background: var(--baseSecondary);
    color: var(--fore);
    font-family: var(--doto);
    font-weight: 900;
    font-size: 1rem;
    border: 2px solid var(--fore);
    &.short {
        height: auto;
    }
}

.formQCounter {
    height: 80px;
    width: 100px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    background: var(--baseSecondary);
    color: var(--fore);
    font-family: var(--doto);
    font-weight: 900;
    font-size: 2rem;
    border: 2px solid var(--fore);

    @include breakpoint(tiny, mobile) {
        width: 100%;
    }
}

.numDisp {
    display: flex;
    position: relative;
    align-items: center;

    @include breakpoint(tiny, mobile) {
        width: 100%;
        margin-top: .5em;
    }

    .qcAdjusters {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        .qcAdjuster {
            width: 40px;
            display: grid;
            place-items: center;
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 200,
                'opsz' 24;
            height: 40px;
            background: var(--prim);
            border: 2px solid var(--fore);
            border-left: none;
            transition: all .4s var(--sleek);
            user-select: none;

            &:hover {
                cursor: pointer;
                background: var(--accent);
                transform: translate(0, -5px);
                box-shadow: var(--fore) 0 5px 0;
                transition-timing-function: var(--spring);
            }

            &:active {
                transform: translate(0, 0px);
                box-shadow: var(--fore) 0 0px 0;
            }
        }
    }
}

.qcController {
    position: relative;
    display: flex;
    transform-origin: right;
    //margin-left: 1.5rem;

    @include breakpoint(tiny, mobile) {
        width: 100%;
    }

    &.controllerNudgeUp {
        animation: nudgeUp .2s;
    }

    &.controllerNudgeDown {
        animation: nudgeDown .2s;
    }
}

@keyframes nudgeUp {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    30% {
        transform: translateY(-5px) rotate(3deg);
    }
}

@keyframes nudgeDown {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    30% {
        transform: translateY(5px) rotate(-3deg);
    }
}

.qcDecrement {
    border-radius: 0 0 10px 0;

}

.qcIncrement {
    border-radius: 0 10px 0 0;
    border-bottom: none;
}

#qcErr {
    font-family: var(--content);
    padding: .5em 1em;
    border: 2px solid rgb(var(--err));
    color: rgb(var(--err));
    border-radius: 20px;
    margin: 0;
    margin-top: -1em;
    pointer-events: none;
    opacity: 0;
    transition: all .2s var(--sleek);

    &.qcErring {
        margin-bottom: 2em;
        margin-top: -1em;
        opacity: 1;
    }
}

.qcDispErr {
    position: absolute;
    background: var(--base);
    box-shadow: 0 0 20px 20px var(--base);
    margin-right: 1em;
    font-family: var(--doto);
    color: rgb(var(--err));
    font-weight: 800;
    font-size: 1.2rem;
    text-align: right;
    animation: qcDispErr .2s 3;
    width: 120px;
    right: 0;
    transform-origin: right center;
    transform: translateX(-110%);
    pointer-events: none;
    display: none;
    transition: background .2s var(--sleek), box-shadow .2s var(--sleek);
    @include breakpoint(tiny, mobile) {
        transform: translateX(0%);
        left: 0;
        z-index: 2;
        background: none;
        box-shadow: none;
    }
}

@keyframes qcDispErr {
  0% {
    color: rgb(var(--err));
  }

  49% {
    color: rgb(var(--err));
  }

  50% {
    color: transparent;
  }

  100% {
    color: transparent;
  }
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

//can firefox shut up for ONE SECOND
input[type="number"] {
    -moz-appearance: textfield;
}

.validFileInfo {
    margin-top: 0.5em;
    font-size: 1rem;
    color: var(--prim);
    font-family: var(--contentSecondary);

    .errNudge {
        animation: flash 0.2s 3 steps(2);
        color: rgba(var(--err), 1);
    }
}

.formInvalidErr {
    color: rgb(var(--err));
    margin-bottom: 1rem;
    font-family: var(--content);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;

    @include breakpoint(tiny, mobile, tablet) {
        align-items: center;
    }
}

.errBlob {
    border: 2px solid rgb(var(--err));
    padding: .5em 1em;
    border-radius: 20px;
}