@use "mixins" as *;

.formComponent {
    --componentRounding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    color: var(--fore);
    font-family: var(--content);
    font-size: 1.5rem;
    border: 2px solid var(--foreSecondary);
    border-radius: var(--componentRounding);
    padding: 0.5em 1em;
    box-sizing: border-box;
    cursor: pointer;

    &.notLabel {
        cursor: auto;
    }

    &.qc {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include breakpoint(tiny, mobile) {
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &:has(input[type="radio"]:checked) {
        border-color: var(--prim);
    }

    input[type="radio"],
    input[type="file"] {
        appearance: none;
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
        margin: -1px;
        overflow: hidden;
        z-index: -1;

        &:checked~.customRadio {
            border-color: var(--prim);

            &:after {
                display: block;
            }
        }

        &:focus~.customRadio {
            outline: 2px solid var(--accent);
            outline-offset: 2px;
        }
    }

    .customRadio {
        --radioSize: 1em;
        --dotSize: calc(var(--radioSize) / 2);
        top: 0;
        left: 0;
        height: var(--radioSize);
        width: var(--radioSize);
        border-radius: 50%;
        border: 2px solid var(--foreSecondary);

        &:after {
            position: relative;
            content: "";
            display: none;
            width: var(--dotSize);
            height: var(--dotSize);
            top: 0.15em;
            left: 0.15em;
            border-radius: 50%;
            background: var(--prim);
        }
    }

    &.flipflop {
        display: flex;
        font-family: var(--content);
        font-size: 1.5rem;
        color: var(--fore);
        border: 3px solid var(--foreSecondary);
        width: 100%;
        padding-top: 1em;
        box-sizing: content-box;
        height: 100%;

        &:nth-of-type(1) {
            border-radius: var(--componentRounding) 0 0 var(--componentRounding);
        }

        &:nth-of-type(2) {
            border-radius: 0 var(--componentRounding) var(--componentRounding) 0;
        }

        &:has(input[type="radio"]:checked) {
            z-index: 2;
            border-width: 3px;
        }

        & .flipflopHeader {
            display: flex;
            align-items: center;

            .optionValue {
                margin-left: 0.5em;
            }
        }

        .optionDesc {
            padding-top: 0.5em;
        }
    }
}

.categoryLabel {
    font-family: var(--content);
    font-size: 2rem;
    font-weight: 900;
    color: var(--fore);
    margin-bottom: 0.5em;
}

.subCategoryBox {
    display: flex;
    flex-direction: column;
    color: var(--fore);
    font-family: var(--content);
    font-size: 1.5rem;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.subCategory {
    font-family: var(--content);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--fore);
}

.subCategoryDesc {
    font-family: var(--content);
    font-size: 1rem;
    color: var(--foreSecondary);
}

.ocHeader {
    border-bottom: 1px solid var(--foreSecondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
}

.ocCell1 {
    display: flex;
    align-items: center;
    gap: 0.2em;
    font-family: var(--content);
    font-size: 1.3rem;
}

.optionDesc {
    padding: 1em 0;
    font-size: 1rem;
    line-height: 1.5rem;
}

.optionTitle {
    font-weight: 700;
}

.optionValue {
    font-family: var(--content);
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--fore);
    vertical-align: middle;
}

.flipflopBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    padding: 0.5em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

.textAreaTitle {
    font-family: var(--content);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--fore);
}

.textAreaDesc {
    font-family: var(--content);
    font-size: 1rem;
    color: var(--foreSecondary);
    margin-bottom: 0.5em;
    line-height: 1.5em;

    &.infoCard {
        margin-top: 0.5em;
        color: var(--fore);
    }
}

.quantityCounterInfoCell {
    .textAreaDesc {
        margin: 0;
    }
}

.formTextInput {
    height: 150px;
    resize: vertical;
    border-radius: 10px;
    padding: 0.5em 1em;
    background: var(--baseSecondary);
    color: var(--fore);
    font-family: var(--doto);
    font-weight: 900;
    font-size: 1rem;
    border: 2px solid var(--fore)
}

.formQCounter {
    height: 80px;
    width: 100px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    background: var(--baseSecondary);
    color: var(--fore);
    font-family: var(--doto);
    font-weight: 900;
    font-size: 2rem;
    border: 2px solid var(--fore);

    @include breakpoint(tiny, mobile) {
        width: 100%;
    }
}

.numDisp {
    display: flex;
    position: relative;
    align-items: center;

    @include breakpoint(tiny, mobile) {
        width: 100%;
        margin-top: .5em;
    }

    .qcAdjusters {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        .qcAdjuster {
            width: 40px;
            display: grid;
            place-items: center;
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 200,
                'opsz' 24;
            height: 40px;
            background: var(--prim);
            border: 2px solid var(--fore);
            border-left: none;
            transition: all .4s var(--sleek);
            user-select: none;

            &:hover {
                cursor: pointer;
                background: var(--accent);
                transform: translate(0, -5px);
                box-shadow: var(--fore) 0 5px 0;
                transition-timing-function: var(--spring);
            }

            &:active {
                transform: translate(0, 0px);
                box-shadow: var(--fore) 0 0px 0;
            }
        }
    }
}

.qcController {
    position: relative;
    display: flex;
    transform-origin: left;

    @include breakpoint(tiny, mobile) {
        width: 100%;
    }

    &.controllerNudgeUp {
        animation: nudgeUp .2s;
    }

    &.controllerNudgeDown {
        animation: nudgeDown .2s;
    }
}

@keyframes nudgeUp {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    30% {
        transform: translateY(-5px) rotate(3deg);
    }
}

@keyframes nudgeDown {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    30% {
        transform: translateY(5px) rotate(-3deg);
    }
}

.qcDecrement {
    border-radius: 0 0 10px 0;

}

.qcIncrement {
    border-radius: 0 10px 0 0;
    border-bottom: none;
}

#qcErr {
    font-family: var(--content);
    padding: .5em 1em;
    border: 2px solid rgb(var(--err));
    color: rgb(var(--err));
    border-radius: 20px;
    margin: 0;
    margin-top: -1em;
    pointer-events: none;
    opacity: 0;
    transition: all .2s var(--sleek);

    &.qcErring {
        margin-bottom: 2em;
        margin-top: -1em;
        opacity: 1;
    }
}

.qcDispErr {
    display: none;
    margin-right: 1em;
    font-family: var(--doto);
    color: rgb(var(--err));
    font-weight: 800;
    font-size: 1.2rem;
    text-align: right;
    animation: flash .2s 3;
    width: 120px;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

//can firefox shut up for ONE SECOND
input[type="number"] {
    -moz-appearance: textfield;
}

.validFileInfo {
    margin-top: 0.5em;
    font-size: 1rem;
    color: var(--prim);
    font-family: var(--contentSecondary);

    .errNudge {
        animation: flash 0.2s 3 steps(2);
        color: rgba(var(--err), 1);
    }
}

#configSummary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    z-index: 2;
    backdrop-filter: grayscale(1) blur(12px);
    background: rgba(var(--baseRGB), 0.9);
    opacity: 0;
    transform: translateY(-1vh) scale(0.9);
    transition: all 0.2s;
    transition-timing-function: var(--accel);
    pointer-events: none;
    padding: 0 5em;
    border-radius: 50px;

    //opacity: 1;
    //transform: none;
    //pointer-events: all;

    .formComponent {
        background: var(--base);
        width: 300px;
        max-width: 300px;
        height: 165px;
        margin: 0;
        cursor: auto;

        @include breakpoint(tiny, mobile) {
            width: 100%;
            max-width: 100%;
        }

        //margin-bottom: 1em;

        & .optionTitle {
            font-size: 1rem;
            font-weight: 400;

            &.longTextTitle {
                font-weight: 900;

            }
        }

        & .optionDesc {
            position: relative;
            font-size: 2rem;
            font-weight: 900;
            overflow: hidden;

            &.longText {
                font-size: 1rem;
                font-weight: 500;
                padding-top: .3em;

                @include breakpoint(tiny, mobile) {
                    font-size: 1.2rem;
                }

                &::before {
                    position: absolute;
                    content: "";
                    background: linear-gradient(150deg, transparent, var(--base) 90%);
                    width: 100%;
                    height: 100%;
                }
            }
        }

        & .ocHeader {
            min-height: 40px;
        }
    }

    &.active {
        pointer-events: auto;
        transition-timing-function: var(--sleek);
        opacity: 1;
        transform: translateY(0vh) scale(1);
        border-radius: 0px;
    }
}

@keyframes revealSummary {
    from {
        transform: translateY(-100vh);
        opacity: 0;
    }

    to {
        transform: translateY(0vh);
        opacity: 1;
    }
}

#confirmText {
    color: var(--fore);
    font-size: 3rem;
    font-family: var(--display);
    font-weight: 700;
    margin-bottom: 1em;
    transition: opacity 0.2s var(--sleek);
    text-align: center;

    @include breakpoint(tiny, mobile) {
        font-size: 2rem;
        margin-top: 1em;
    }
}

#pickedConfigGrid {
    display: flex;
    //display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    transition: opacity 0.2s var(--sleek);
    max-height: 100vh;
    overflow-y: scroll;
}

#confirmButtons {
    position: relative;
    margin-top: 3em;
    display: flex;
    gap: 2em;
    transition: all 0.2s var(--sleek);

    @include breakpoint(tiny, mobile) {
        margin: 2em 0;
        flex-direction: column;
        width: 100%;
        gap: 1em;
    }

    &>* {
        position: relative;
        border: 4px solid transparent;
        /* Inner transparent border */
        border-radius: 20px;
        /* Optional: for rounded corners */
        z-index: 1;
        font-size: 1.5rem;
        font-family: var(--content);
        font-weight: 700;
        color: var(--base);
        padding: 1em 1.5em;
        border-radius: 99px;
        background: var(--fore);
        user-select: none;
        cursor: pointer;
        box-shadow: 0 0 0 2px transparent inset;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border: 4px solid var(--base);
            border-radius: 99px;
            pointer-events: none;
            z-index: 2;
            transition: all 0.2s var(--accel);
            transform: scale(1.1);
            opacity: 0;
        }

        &:hover {
            &::before {
                transition-timing-function: var(--sleek);
                transform: scale(1);
                opacity: 1;
            }
        }

        &:active {
            &::before {
                transition-timing-function: var(--sleek);
                transform: scale(0.9);
                opacity: 1;
            }
        }
    }
}

#loadAnim {
    position: absolute;
    z-index: 2;
    align-items: center;
    display: none;
    flex-direction: column;
    align-items: center;

    .gradOverflow {
        width: 100px;
        height: 10px;
        overflow: hidden;
        border-radius: 20px;
        filter: blur(2px);
        box-shadow: 0 0 12px transparent;
    }

    #gradbar {
        width: 200%;
        height: 10px;
        background: linear-gradient(90deg, transparent 50%, var(--accent));
        background-repeat: no-repeat;
        background-position: -100px 0;
        animation: ps5loadGrad 0.8s infinite;


        &.loadOK {
            animation: loadOK .8s forwards !important;
        }

        &.loadErr {
            animation: loadErr .8s forwards !important;
        }
    }

    #loadStatString {
        position: absolute;
        width: 300px;
        top: -30px;
        font-family: var(--doto);
        font-weight: 900;
        text-align: center;
        color: var(--fore);
    }
}

@keyframes loadOK {
    0% {
        background: linear-gradient(90deg, var(--accent) 50%, transparent 50%);
        background-position: -200px 0;
    }

    100% {
        background: linear-gradient(90deg, #47ff47 50%, transparent 50%);
        background-position: 0px;
    }
}

@keyframes loadErr {
    0% {
        background: linear-gradient(90deg, var(--accent) 50%, transparent 50%);
        background-position: -200px 0;
    }

    100% {
        background: linear-gradient(90deg, rgb(var(--err)) 50%, transparent 50%);
        background-position: 0px;
    }
}

@keyframes ps5loadGrad {
    0% {
        background-position: -200px 0;
    }

    100% {
        background-position: 0px;
    }
}

.formInvalidErr {
    color: rgb(var(--err));
    margin-bottom: 1rem;
    font-family: var(--content);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;

    @include breakpoint(tiny, mobile, tablet) {
        align-items: center;
    }
}

.errBlob {
    border: 2px solid rgb(var(--err));
    padding: .5em 1em;
    border-radius: 20px;
}