#hello {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    z-index: -1;
}

.hero {
    position: relative;

    /*margin-right: 40%;*/
    color: var(--white);
}

.theactualhello {
    font-family: var(--display);
    font-size: 6em;
    font-weight: 800;
}

.dialogue {
    font-family: var(--display);
    font-size: 2em;
    font-weight: 700;
}

.uh {
    font-family: var(--contentsecondary);
}

.heroimage {
    position: absolute;
    z-index: -1;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(0.5);

    >div {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        position: absolute;
        animation: heroimage 25s var(--sleek) infinite;
        opacity: 0;
        transform: scale(1.2);
    }
}

.offsetbottom {
    background-position: bottom !important;
}

.heroimage>div {
    &:nth-child(2) {
        animation-delay: 5s;
    }

    &:nth-child(3) {
        animation-delay: 10s;
    }

    &:nth-child(4) {
        animation-delay: 15s;
    }

    &:nth-child(5) {
        animation-delay: 20s;
    }
}

@keyframes heroimage {
    10% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    40% {
        transform: scale(1);
    }
}

.heroimg {
    position: relative;
    width: 100vw;
}