html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  max-width: 100%;
  background: var(--base);
  overflow-x: hidden;
  transition: background 0.2s var(--sleek), color 0.2s var(--sleek);
}

/* ############################### */

*,
::after,
::before {
  box-sizing: border-box;
}

/* ############################### */

body {
  &[data-aos-easing=sleek] [data-aos] {
    transition-timing-function: var(--sleek);
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: var(--baseD);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--basesecondaryD);
    border-radius: 10px;

    &:hover {
      background: var(--accentD);
    }

    &:active {
      background: var(--accentsecondaryD);
    }
  }
}

[data-aos][data-aos][data-aos-easing=sleek] {
  transition-timing-function: var(--sleek);
}

@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --base: #10131F;
  --baseRGB: 16, 19, 31;
  --baseSecondary: #202332;
  --fore: #ffffff;
  --foreSecondary: rgba(255, 255, 255, 0.651);
  --prim: #27bdce;
  --primSecondary: #1b525b;
  --accent: #3dffe5;
  --accentSecondary: rgba(39, 189, 206, 0.02);
  --viscueDisabled: #3f3f3f65;

  //rgb( var(...) , ??)
  --err: 255, 92, 92;
  --ok: 47, 255, 47,;

  --display: "Syne";
  --doto: "Doto";
  --content: "Inter Tight";
  --text: "Inter";
  --contentSecondary: "Ubuntu Sans Mono";
  --sleek: cubic-bezier(0.03, 0.77, 0.34, 1);
  --accel: cubic-bezier(0.72, 0.06, 0.96, 0.57);
  --fast: cubic-bezier(.05,.32,.01,1);
  --bounce: cubic-bezier(0.57, 0.07, 0.41, 1.95);
  --spring: cubic-bezier(.13,1.6,.37,.93);
  --scurve: cubic-bezier(.76,.01,.16,1);

  --brightness: brightness(1.2);
  --faded: brightness(0.5);
  --inverto: invert(1);
}

[data-theme=light] {
  --base: #f8f4e8;
  --baseRGB: 248, 244, 232;
  --baseSecondary: #FFFAEB;
  --fore: #000000;
  --foreSecondary: rgba(0, 0, 0, 0.774);
  --prim: #ffa34d;
  --primSecondary: #ffd4ad;
  --accent: #ff6753;
  --accentSecondary: hsl(29, 100%, 65%, 5%);
  --viscueDisabled: #0000002d;

  --brightness: brightness(.8);
  --inverto: invert(0);
}

a {
  text-decoration: none !important;
  color: initial;

  &:link,
  &:visited {
    text-decoration: none !important;
    color: currentColor;
  }
}

.b9 { font-weight: 900; }
.b8 { font-weight: 800; }
.b7 { font-weight: 700; }

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.holdon {
  animation: holdon .5s infinite
}

@keyframes holdon {
  0% {
    transform: translateY(0px);
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); /* ease-out */
  }

  50% {
    transform: translateY(-15px);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); /* ease-in */
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes toolong {
  0% {
    --loadingDialogue: "Any time now..."
  }

  100% {
    --loadingDialogue: "This should still be loading, but is taking concerningly a little while...";
    opacity: .4;

  }
}