@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  max-width: 100%;
  background: var(--base);
  overflow-x: hidden;
}

/* ############################### */
*,
::after,
::before {
  box-sizing: border-box;
}

/* ############################### */
body[data-aos-easing=sleek] [data-aos] {
  transition-timing-function: var(--sleek);
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: var(--baseD);
}
body::-webkit-scrollbar-thumb {
  background: var(--basesecondaryD);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--accentD);
}
body::-webkit-scrollbar-thumb:active {
  background: var(--accentsecondaryD);
}

[data-aos][data-aos][data-aos-easing=sleek] {
  transition-timing-function: var(--sleek);
}

:root {
  --base: #191a1b;
  --fore: #ffffff;
  --primSecondary: #cacaca;
  --accent: #23b2c5;
  --display: Syne;
  --content: Inter;
  --contentsecondary: JetBrains Mono;
  --sleek: cubic-bezier(0.03, 0.77, 0.34, 1);
  --accel: cubic-bezier(0.72, 0.06, 0.96, 0.57);
  --anchorhead: cubic-bezier(0.24, 0.01, 0.01, 1);
  --bounce: cubic-bezier(0.57, 0.07, 0.41, 1.95);
  --brightness: brightness(1.2);
}

[data-theme=light] {
  --base: #f8f4e8;
  --fore: #000000;
  --primSecondary: #3f3f3f;
  --accent: #eb8d40;
  --brightness: brightness(.8);
}

a {
  text-decoration: none !important;
  color: initial;
}
a:link, a:visited {
  text-decoration: none !important;
  color: currentColor;
}

.material-icons-outlined {
  vertical-align: middle;
}

.dynamicnav {
  position: sticky;
  top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 1rem 0 0;
  z-index: 5;
  background: var(--alphabaseD);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  transition: background 1s var(--sleek);
  transition: transform 0.2s var(--sleek);
  height: 40px;
}

.navOff {
  background: var(--baseD);
  transition: all 0.2s var(--sleek);
}

.navHide {
  transition: all 0.2s 0.5s var(--sleek);
  transform: translateY(-40px);
}

#nlogo {
  position: relative;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  transform: scale(0.8);
}

.npotto {
  width: 100%;
  height: 100%;
  fill: var(--basefL);
  fill-opacity: 1;
}

.buttongroup {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.nbutton {
  background: rgba(0, 0, 0, 0);
  color: var(--textD);
  margin: 0 0.5rem;
  font-family: var(--contentsecondary);
  transition: background 0.1s, color 0.2s;
  font-weight: 100;
  border-radius: 0 5px 0 0;
  padding: 0.3rem;
  /*
    &:hover::before {
      content: "::"
    }*/
}
.nbutton:hover {
  background: var(--textD);
  color: var(--textfL);
  font-weight: 900;
}
.nbutton:hover .strikethrough {
  background-color: var(--textfL);
}

.strikethrough {
  position: relative;
  display: block;
  height: 3px;
  background-color: var(--textD);
  width: 0%;
  transition: all 0.5s var(--sleek);
}

.activestrike {
  width: 100%;
}

.dimmer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 5;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  display: none;
}

.creationdialog {
  background: var(--baseD);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  animation: contentdialog 0.8s forwards var(--sleek);
  opacity: 0;
  transition: all 0.3s var(--accel);
  transform: scale(1.5);
}

.cdactive {
  opacity: 1;
  transition: all 0.3s var(--sleek);
  transform: scale(1);
}

.cbutton {
  text-align: center;
  color: var(--textD);
  font-family: var(--display);
  font-weight: 700;
  font-size: 2.5em;
  transition: font-weight 1s var(--sleek);
  margin: 1rem 0;
}
.cbutton:hover {
  font-weight: 800;
  color: var(--accentD);
}

.blockactive {
  font-weight: 800;
  transition: all 0.5s var(--sleek);
  color: var(--accentsecondaryD);
}

.exit {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-top: 2rem;
}

.xcont {
  width: 40px;
  height: 40px;
  margin-right: 2rem;
  background: none;
  cursor: pointer;
  position: relative;
  display: grid;
  place-items: center;
}
.xcont:hover .x,
.xcont ::after {
  width: 10px;
}

.x {
  position: absolute;
  background: var(--blackfL);
  width: 4px;
  transform: rotate(45deg);
  height: 40px;
  transition: 0.2s var(--sleek);
}
.x::after {
  content: "";
  background: var(--blackfL);
  width: 4px;
  height: 100%;
  transform: rotate(90deg);
  position: absolute;
}

.mainboxfloater {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.mainbox {
  background: var(--baseD);
  padding: 2rem 6rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  transition: background 1s var(--sleek);
  width: 100%;
  max-width: 1920px;
}

@media screen and (max-width: 800px) {
  .mainbox {
    padding: 3rem;
  }
}
@media screen and (max-width: 580px) {
  .mainbox {
    padding: 0rem;
  }
}
.cardgrid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  width: 80%;
  padding: 4rem 0;
}

/* @media screen and (max-width: 1000px) {
        .cardgrid {
            grid-template-columns: repeat(1, 1fr);
        }
    } */
.cards {
  position: relative;
  color: var(--textD);
  max-width: 100%;
  background: var(--basesecondaryD);
  border-radius: 20px;
  word-wrap: break-word;
  overflow: hidden;
  transition: all 1s var(--sleek);
  box-shadow: var(--boxshadowD);
}

.linkcard {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  overflow: visible;
  transition: all 0.5s var(--sleek) !important;
}
.linkcard:hover {
  background: var(--accentD);
  transform: scale(1.1) rotate(3deg) !important;
}
.linkcard:hover .dynamicarrow {
  margin-left: 10px;
}
.linkcard:hover .line {
  opacity: 1;
}
.linkcard:hover .arrow {
  transform: translateX(3px);
}
.linkcard:hover .textcard {
  color: var(--textfL);
}
.linkcard:hover.linkreturn:hover {
  background: var(--red1);
}
.linkcard:hover::before {
  background: var(--accentsecondaryD);
  opacity: 1;
  transform: scale(0.9) rotate(-5deg) !important;
}
.linkcard:hover.linkreturn::before {
  background: var(--redsecondary);
}
.linkcard::before {
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  z-index: -1;
  transition: all 0.5s var(--sleek);
  opacity: 0;
  border-radius: 20px;
}

.col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.customarrow {
  stroke-width: 2px;
  fill: none;
  stroke: var(--textD);
  width: 40px;
  height: 40px;
  margin-left: 7px;
  transition: all 0.15s;
  margin-top: 1rem;
}

.line {
  opacity: 0;
}

.invis {
  background: none;
  box-shadow: none;
}

.gimgs {
  cursor: pointer;
}

.tallcard {
  grid-row: span 2/auto;
}

.extratallcard {
  grid-row: span 3/auto;
}

.bigcard {
  grid-row: span 2/auto;
  grid-column: span 2/auto;
}

.widecard {
  grid-column: span 3/auto;
}

.superwidecard {
  grid-column: span 4/auto;
}

.mediumwidecard {
  grid-column: span 2/auto;
}

.ghost {
  display: none;
}

.dynamicUpscale-small-mediumwide {
  grid-row: span 1/auto;
  grid-column: span 1/auto;
}

.dynamic-tall-mediumwide {
  grid-row: span 2/auto;
}

.dynamic-mediumwide-tall {
  grid-column: span 2/auto;
}

.titlecard {
  grid-column: span 3/auto;
}

@media screen and (max-width: 1366px) {
  .tallcard {
    grid-row: span 1/auto;
  }
  .extratallcard {
    grid-column: span 1/auto;
  }
  .bigcard {
    grid-row: span 1/auto;
    grid-column: span 1/auto;
  }
  .smallwidecard {
    grid-column: span 1/auto;
  }
  .widecard {
    grid-row: span 1/auto;
    grid-column: span 1/auto;
  }
  .superwidecard {
    grid-column: span 2/auto;
  }
  .widecardp {
    grid-column: span auto/auto;
  }
  .mediumwidecard {
    grid-column: span 1/auto;
  }
  .dynamic-narrowvp-wide-tall {
    grid-column: span 2/auto;
  }
}
@media screen and (max-width: 700px) {
  .read {
    grid-row: span 2/auto;
  }
}
@media screen and (min-width: 1785px) {
  .dynamicUpscale-small-mediumwide {
    grid-row: span 1/auto;
    grid-column: span 2/auto;
  }
  .ghost {
    display: block;
  }
}
@media screen and (max-width: 1784px) {
  .dynamic-tall-mediumwide {
    grid-column: span 2/auto;
    grid-row: span 1/auto;
  }
  .dynamic-mediumwide-tall {
    grid-column: span 1/auto;
    grid-row: span 2/auto;
  }
}
@media screen and (max-width: 1090px) {
  .dynamic-tall-mediumwide,
  .dynamic-mediumwide-tall {
    grid-column: span 1/auto;
    grid-row: span 1/auto;
  }
  .superwidecard {
    grid-column: span 1/auto;
  }
  .dynamic-narrowvp-wide-tall {
    grid-column: span 2/auto;
    grid-row: span 2/auto;
  }
}
/*textcard--------------------------------*/
.textcard {
  padding: 1rem;
  font-family: var(--content);
  font-size: 2em;
  color: var(--textD);
  letter-spacing: -0.62pt;
}

.titletextcard {
  font-size: 2.2em;
  font-family: var(--display);
  font-weight: 900;
  margin-bottom: 1rem;
  border-bottom: solid var(--textD) 1px;
}

/*sizes*/
.tcmedium {
  font-size: 2em;
  font-family: var(--display);
  font-weight: 500;
}

.tcbig {
  font-size: 3em;
  font-family: var(--display);
  font-weight: 500;
}

.tcbigger {
  font-size: 3.6em;
  font-family: var(--display);
  font-weight: 900;
}

.tchuge {
  font-size: 7em;
  font-family: var(--display);
  font-weight: 900;
}

.tcreg {
  font-size: 1.2em;
  font-family: var(--contentsecondary);
}

.tcregread {
  font-family: var(--content);
  line-height: 1.7;
  font-size: 1.15em;
  font-weight: 500;
  letter-spacing: -0.62pt;
}

.tcsmall {
  font-family: var(--content);
  line-height: 1.7;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: -0.62pt;
}

.tcsubquote {
  font-family: var(--contentsecondary);
  font-size: 1rem;
  font-style: italic;
}

.tcquotation {
  font-family: var(--contentsecondary);
  font-size: 1rem;
  font-style: italic;
  margin-top: 1em;
  color: var(--textsecondaryD);
}

.wlimiter {
  width: 70%;
}

@media screen and (max-width: 1390px) {
  .titletextcard {
    font-size: 1.5em;
  }
  .big {
    font-size: 2.5em;
    font-family: var(--display);
    font-weight: 500;
  }
}
@media screen and (max-width: 500px) {
  .titletextcard {
    font-size: 1.3em;
  }
}
/*textcard--------------------------------*/
/*backgroundtext--------------------------*/
.textcontainer {
  position: relative;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  padding: 0 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0) 60%, var(--black));
}

.textgroup {
  position: relative;
  min-width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-bottom: 1rem;
  font-family: var(--content);
  color: var(--textD);
  letter-spacing: -0.62pt;
}

.bypass {
  position: absolute;
}

.imgtext {
  margin-bottom: 0.5rem;
}

/*backgroundtext--------------------------*/
/*thumbnailcard---------------------------*/
.thumbtextcontainer {
  position: relative;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
}

.thumbtextgroup {
  max-width: 100%;
  width: 100%;
  height: 20%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 1rem;
  font-family: var(--content);
  color: var(--textD);
  background: var(--basesecondaryD);
  letter-spacing: -0.62pt;
}

/*thumbnailcard---------------------------*/
.go {
  margin-right: 1rem;
  padding: 10px 10px 10px 15px;
  color: var(--textD);
  box-sizing: border-box;
  border: solid 1px var(--textD);
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9em;
  font-family: var(--content);
  font-weight: 500;
  border-radius: 40px;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  transition: all 0.15s;
  letter-spacing: -0.62pt;
}

.wideGo {
  position: relative;
  border: 1px solid var(--textD);
  font-family: var(--display);
  color: var(--textD);
  padding: 1em 20vw;
  border-radius: 50px;
  opacity: 1;
  cursor: pointer;
  transition: all 0.2s var(--anchorhead);
}
.wideGo:hover {
  background: var(--textD);
  color: var(--textfL);
}
.wideGo:hover .wideGoTitle {
  color: var(--textfL);
}
.wideGo:hover .dynamicarrow {
  margin-left: 10px;
  stroke: var(--textfL);
}
.wideGo:hover .line {
  opacity: 1;
}
.wideGo:hover .arrow {
  transform: translateX(3px);
}

.wideGoTitle {
  color: var(--textD);
}

.dynamicarrow {
  stroke-width: 2px;
  fill: none;
  stroke: var(--textD);
  width: 10px;
  height: 10px;
  margin-left: 7px;
  transition: all 0.15s;
}

.line {
  opacity: 0;
}

.arrow,
.line {
  transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.go:hover {
  background: var(--accentD);
  border: solid 1px rgba(255, 255, 255, 0);
}
.go:hover .dynamicarrow {
  margin-left: 10px;
}
.go:hover .line {
  opacity: 1;
}
.go:hover .arrow {
  transform: translateX(3px);
}

.imgs {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.2s var(--sleek);
}
.imgs.self {
  position: relative;
}
.imgs.leftoffset {
  -o-object-position: left;
  object-position: left;
}
.imgs.rightoffset {
  -o-object-position: right;
  object-position: right;
}
.imgs.topoffset {
  -o-object-position: top;
  object-position: top;
}
.imgs.bottomoffset {
  -o-object-position: bottom;
  object-position: bottom;
}

.themetogglecont {
  height: 100vh;
  position: fixed;
  z-index: 3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  transition: all 0.2s var(--sleek);
}

#ttogle {
  display: none;
}

.togglecont {
  position: relative;
  --borderwidth: 2.6px;
  border-top: solid var(--borderwidth) var(--textD);
  border-right: solid var(--borderwidth) var(--textD);
  width: 40px;
  height: 40px;
  border-radius: 0 20px 0 0;
  display: grid;
  place-items: center;
  transform-origin: bottom left;
  transition: all 0.2s cubic-bezier(0.57, 0.07, 0.41, 1.95);
  cursor: pointer;
}
.togglecont:hover {
  transform: scale(1.1);
  border-radius: 0 10px 0 0;
}
.togglecont:active {
  transform: scale(1.3);
  border-radius: 0 5px 0 0;
}

.checkboxtrig {
  min-width: 30px;
  min-height: 30px;
  display: grid;
  place-items: center;
}

.splash {
  position: absolute;
  --circle: 200px;
  width: var(--circle);
  height: var(--circle);
  transform: scale(0);
  border-radius: 50%;
  background: var(--basefL);
  z-index: -1;
}

.splashanim {
  animation: splash 0.8s var(--sleek);
}
@keyframes splash {
  from {
    transform: scale(0);
    opacity: 1;
    border-width: 2;
  }
  to {
    transform: scale(1);
    opacity: 0;
    border-width: 1;
  }
}
.floatwindows {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1em;
  padding: 0.1rem 0.8rem;
  font-family: var(--contentsecondary);
  font-size: 0.7em;
  pointer-events: auto;
  color: var(--textD);
  --borderwidth: 2.6px;
  border-top: solid var(--borderwidth) var(--textD);
  border-left: solid var(--borderwidth) var(--textD);
  border-right: solid var(--borderwidth) var(--textD);
  border-radius: 10px 10px 0 0;
  color: var(--textD);
  transition: all 0.2s cubic-bezier(0.57, 0.07, 0.41, 1.95);
  -webkit-backdrop-filter: blur(10px) var(--brightnessD);
          backdrop-filter: blur(10px) var(--brightnessD);
}
.floatwindows:hover {
  padding: 0.4rem 0.8rem;
}
.floatwindows:active {
  color: var(--textfL);
}

.icon, .tticon {
  position: relative;
  color: var(--textD);
}

.loadblock {
  width: 100%;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  z-index: 200;
  background: var(--baseD);
  position: fixed;
}

.outer {
  width: 70px;
  height: 70px;
  /*border: black 2px;*/
  border-radius: 50%;
  animation: spinouter 2s cubic-bezier(0.08, 0.22, 0, 0.99) infinite;
  transition: border 0.2s cubic-bezier(0.66, 0.02, 0.88, 0.32);
  border-color: rgba(0, 0, 0, 0);
}

.inner {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  animation: spinouter 2s cubic-bezier(0.08, 0.22, 0, 0.99) 1.5s infinite;
  border-color: rgba(0, 0, 0, 0);
}

@keyframes spinouter {
  0% {
    transform: rotate(0deg);
    border: solid var(--accentD) 4px;
  }
  25% {
    transform: rotate(90deg);
    border: solid var(--blackfL) 20px;
  }
  50% {
    transform: rotate(180deg);
    border: solid var(--blackfL) 10px;
    border-radius: 0px;
  }
  75% {
    transform: rotate(270deg);
    border: solid var(--blackfL) 30px;
  }
  100% {
    transform: rotate(360deg);
    border: solid var(--blackfL) 4px;
  }
}
/* .loader {
    position: fixed;
    background: var(--baseD);
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: grid;
    place-items: center;
    user-select: none;
    pointer-events: none;
  }

  .loaderanim {
    background: var(--loaderD);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 50px;
  } */
.initialloc {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

.galleryLoadingInd {
  position: relative;
  color: var(--textD);
  opacity: 0.5;
  height: 0;
}

.holdon {
  animation: holdon 0.5s infinite;
}

@keyframes holdon {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  12% {
    transform: translateY(1px);
  }
  24% {
    transform: translateY(6px);
  }
  36% {
    transform: translateY(15px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes toolong {
  0% {
    --loadingDialogue: "Any time now..." ;
  }
  100% {
    --loadingDialogue: "This should still be loading, but is taking concerningly a little while...";
    opacity: 0.4;
  }
}/*# sourceMappingURL=root.css.map */