---

---

<div id="quirkyContainer" transition:persist>
  <div id="quirky-loadAnim">
    <div class="quirky-gradOverflow">
      <div id="quirky-gradbar"></div>
    </div>
    <!-- <div id="loadStatString">loading nothing..?</div> -->
  </div>
</div>

<style lang="scss">
  #quirkyContainer {
    width: 100vw;
    height: 100px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    z-index: 50;
    //background: rgba(var(--baseRGB), 0.8);
    //backdrop-filter: grayscale(1) blur(5px);
    pointer-events: none;
    background: linear-gradient(transparent, var(--base));
    display: none;
    animation: startLoading .2s var(--sleek) forwards;
    &.loading {
        display: grid;
    }
  }
  @keyframes startLoading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }


  #quirky-loadAnim {
    position: relative;
    z-index: 2;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .quirky-gradOverflow {
      position: relative;
      width: 100vw;
      height: 30px;
      overflow: hidden;
      border-radius: 20px 20px 0 0;
      filter: blur(10px);
      box-shadow: 0 0 12px transparent;
    }

    #quirky-gradbar {
      width: 200vw;
      height: 30px;
      background-position: -100% 0;
      animation: wisp 1s infinite;
      background-repeat: no-repeat;
    }

    //#loadStatString {
    //  position: absolute;
    //  width: 300px;
    //  top: 15px;
    //  font-family: var(--doto);
    //  font-weight: 900;
    //  text-align: center;
    //  color: var(--fore);
    //}
  }
  @keyframes wisp {
    0% {
      background: linear-gradient(90deg, transparent 50%, var(--accent));
      background-position: -200vw 0;
    }

    50% {
      background: linear-gradient(90deg, transparent 50%, var(--accent));
      background-position: 0vw 0;
    }
    50.01% {
      background: linear-gradient(90deg, var(--accent), transparent 50%);
      background-position: 100vw 0;
    }

    100% {
      background: linear-gradient(90deg, var(--accent), transparent 50%);
      background-position: -100vw;
    }
  }
</style>

<script>
    const loaderAnim = document.getElementById("quirkyContainer") as HTMLElement;
  document.addEventListener("astro:before-preparation", () => {
    loaderAnim.classList.add("loading");
  });
  document.addEventListener("astro:after-preparation", () => {
    loaderAnim.classList.remove("loading");
  });
</script>
