<div class="themetogglecont">
  <div class="togglecont" title="Change to Light Mode">
    <div class="splash"></div><label class="checkboxtrig"
      ><input type="checkbox" id="ttogle" />
      <div class="material-icons-outlined theme-icon">light_mode</div>
    </label>
  </div>
  <a href="tos.astro" class="floatwindows">
    <div>
      <div class="floatwindowsstring">Open TOS</div>
    </div>
  </a>
</div>
