---
import { ClientRouter } from "astro:transitions";
import pottoCeramic from "../assets/Pottoceramic.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href={pottoCeramic.src} />

    <!-- OG -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://pottoart.uk/" />
    <meta property="og:title" content="Potto" />
    <meta property="og:description" content="As weird as a name can get." />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/Potato22/pottolink/master/assets/img/content/trainstation.jpg"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://pottoart.uk/" />
    <meta property="twitter:title" content="Potto" />
    <meta
      property="twitter:description"
      content="As weird as a name can get."
    />
    <meta
      property="twitter:image"
      content="https://raw.githubusercontent.com/Potato22/pottolink/master/assets/img/content/trainstation.jpg"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=add,arrow_back,arrow_circle_right,close,dark_mode,info,light_mode,priority,remove,upload_file"
    />

    <script
      src="https://kit.fontawesome.com/14f5f92fc3.js"
      crossorigin="anonymous"></script>

    <title>Configurator</title>
    <ClientRouter />
  </head>
  <body>

    <div class="configuratorCanvas">
        <slot />
    </div>

  </body>
</html>

<style>
.configuratorCanvas {
  background: var(--base);
  display: flex;
  flex-direction: column;
  width: 100vw;
}
</style>
